/* project color */
$mainColor: #00948C;
$mainHoverColor: #00A58C;
$mainBgColor:  #f9f9f9;
$mainActiveColor: #EA6000;
$mainActiveHoverColor: #EA8200;
$titleColor: #000000;
$textColor: #333333;
$secondaryColor: #999999;
$hoverColor: #CCCCCC;
$inputBgColor: #F2F2F2;
$whiteColor: #FFFFFF;
$mainGradientStartColor: #33D499;
$marginBorderColor: #E8E8E8;
$mainLabelColor: #54657E;
$mainCloseColor: #ADB9C8;
$warnColor: #EA5C00;
$borderColor:#0AA0D5;
$leftBorderColor: #EB1D1E;
$iconColor: #F3F3F3;
$leftBtnColor: #F86C11;
$rightBtnColor: #FF9731;
$lineColor: #FB8221;
$defaultTextColor: #606060;

/* project font-size */
$xlg-size: 2rem;
$lg-size: 1.8rem;
$md-size: 1.6rem;
$sm-size: 1.4rem;
$xs-size: 1.2rem;

// distance
$one-length:1px;
$two-length:2px;
$three-length:3px;
$five-length:5px;
$ten-length:10px;
$fifteen-length:15px;
$twenty-length:20px;
$thirty-length:30px;
$forty-length:40px;
$fifty-length:50px;

// percentage
$one-percentage:1%;
$two-percentage:2%;
$three-percentage:3%;
$five-percentage:5%;
$ten-percentage:10%;
$twenty-percentage:15%;
$twenty-percentage:20%;
$twenty-five-percentage:25%;
$twenty-percentage:30%;
$thirty-three-percentage:33.3333%;
$forty-percentage:40%;
$fifty-percentage:50%;
$hundred-percentage:100%;
